body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: flex-start; /* Align containers to the left */
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 70px;
}

.student {
    display: inline-block;
    align-items: center;
    margin: 0 5px 20px; /* Reduced right margin to 5px */
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px; /* Adjust the width as needed */
    vertical-align: top;
}

.student img {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    border-radius: 50%;
    margin-bottom: 15px;
    margin-left: 23px;
}

.student p {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    margin-left: 40px;

}

.attendance-checkbox {
    margin-top: 10px;
    margin-left: 20px;
}
.options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}